{% extends 'base.html'%}

{%block title%} Crear cuenta {%endblock%}

{%block content%}
<form method='POST'>
    <h3>Crea un Usuario</h3><br>
    <div class='form-group'>
        <label for='email'>Correo Electronico</label>
        <input type='email' class='form-control' id='email' name='email' placeholder='correo@ejemplo.es' /><br>

        <label for='alias'>Alias</label>
        <input type='text' class='form-control' id='alias' name='alias' placeholder='paquito98' required/><br>

        <label for='name'>Nombre</label>
        <input type='text' class='form-control' id='name' name='name' placeholder='Jose Maria' /><br>

        <label for='surname'>Apellidos</label>
        <input type='text' class='form-control' id='surname' name='surname' placeholder='Núñez Martinez' /><br>

        <label for='tel'>Telefono</label>
        <input type='number' max='999999999' class='form-control' id='tel' name='tel' placeholder='123456789' /><br>

        <label for='pswd1'>Contraseña</label>
        <input type='password' class='form-control' id='pswd1' name='pswd1' placeholder='pon algo seguro'
        required/><br>
        <!-- pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"required/><br> -->

        <!-- <div id="message">
            <h3>La contraseña debe de cumplir con los requisitos</h3><br>
            <p id="letter" class="invalid">Una letra <b>minúscula</b></p>
            <p id="capital" class="invalid">Una letra <b>mayúscula</b></p>
            <p id="number" class="invalid">Un <b>número</b></p>
            <p id="length" class="invalid">Minimo <b>8 caracteres</b></p>
        </div>  -->

        <label for='pswd2'>Repite Contraseña</label>
        <input type='password' class='form-control' id='pswd2' name='pswd2' placeholder='pon de nuevo la contraseña' 
        required/>

    </div>
    <br>
    <button class="btn btn-dark" type='submit'>Crear Usuario</button>
</form>
{%endblock%}