{% extends 'base.html'%}
{%block content%}{%endblock%}
{%block outercontent%}
<div class="container">
    {% if current_user.alias != NULL %}
    <form class="form" method='POST'>
        <h3>Introduce tu reseña</h3><br>
        <div class='form-group'>
            <label for='game'>Juego</label>
            <select class="form-control margin-raro" name="game" id="game">
                {% for juego in juegos %}
                <option value="{{ juego.id }}">{{ juego.nombre }}</option>
                {% endfor %}
            </select>
            <label for='title'>Título</label>
            <input type='text' class='form-control' id='title' name='title' placeholder=''
                required />
            <label for='desc'>Descripción</label>
            <textarea class='form-control' id='desc' name='desc' placeholder='  ' required rows="5"></textarea>
        </div>
        <button class="btn btn-dark" type='submit'>Introducir</button>
    </form><br>
    {% else %}
    <a href="/login">
        <h3 class="category">necesitas iniciar sesion para añadir tu reseña</h3><br>
    </a>
    {% endif %}
    <h1>Reseñas</h1>
    <table class="table table-striped table-dark">
        {% for resenna, juegos, usuarios in resennas%}
        <div class="comment-section">
            <div class="comment">
                <div class="comment-header">
                    <span class="username">{{ usuarios.alias }}</span>
                    <span class="category">{{ juegos.nombre }}</span>
                </div>
                <div class="comment-title">{{ resenna.titulo }}</div>
                <div class="comment-text">{{ resenna.detalles }}</div>
            </div>
        </div>
        {% endfor %}
        </tbody>
    </table>
</div>
{%endblock%}